{% extends 'issue_tracker_app/base.html' %}

{% block page_title %}{{ user }}'s Profile {% endblock %}

{% block page_heading %}{{ user }}'s Profile {% endblock %}
{% block content %}
<p>{{ profile.email }}</p>
<p>You're logged in as {{ profile.username }}</p>
<p>You've raised {{ tickets_count }} tickets, {{ bugs_count }} were bugs, and {{ features_count }} were features</p>
<ul>
  <li>To do: {{ to_do_count }}</li>
  <li>Doing: {{ doing_count }}</li>
  <li>Done: {{ done_count }}</li>
</ul>
{% for ticket in tickets %}
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.text }}</p>
{% endfor %}
{% endblock %}