{% extends 'issue_tracker_app/base.html' %}
{% block content %}
  <div class="bugs">
    <h2>Bugs</h2>
    {% for ticket in tickets %}
    {% if ticket.ticket_type == 'B' %}
    <h2><a href="{% url 'ticket_detail' pk=ticket.pk %}">{{ ticket.title }}</a></h2>
    <p>{{ ticket.ticket_type }}</p>
    <p>{{ ticket.ticket_status }}</p>
    <p>{{ ticket.text }}</p>
    <p>{{ ticket.published_date }}</p>
    {% endif %}
    {% endfor %}
  </div>
  <div class="features">
    <h2>Features</h2>
    {% for ticket in tickets %}
    {% if ticket.ticket_type == 'F' %}
    <h2><a href="{% url 'ticket_detail' pk=ticket.pk %}">{{ ticket.title }}</a></h2>
    <p>{{ ticket.ticket_type }}</p>
    <p>{{ ticket.ticket_status }}</p>
    <p>{{ ticket.text }}</p>
    <p>{{ ticket.published_date }}</p>
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}