{% extends 'issue_tracker_app/base.html' %}
{% block content %}
<div class="ticket">
  <h2>{{ ticket.title}}</h2>
  <p>{{ ticket.get_ticket_type_display }}</p>
  <p>{{ ticket.get_ticket_status_display }}</p>
  <p>{{ ticket.text }}</p>
</div>
<div class="card-footer">
  <a href="{% url 'add_comment_to_ticket' pk=ticket.pk %}">Add comment</a>
  {% for comment in ticket.comments.all %}
  <p><span>{{ comment.author }}: </span>{{ comment }}</p>
  {% empty %}
  <p>No comments here yet</p>
  {% endfor %}
</div>
{% endblock %}