{% extends 'issue_tracker_app/base.html' %}
{% block title %}Tickets{% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
  <div class="bugs-wrapper col-9">
    <h2>Bugs</h2>
    {% for ticket in tickets %}
    {% if ticket.ticket_type == 'B' %}
    <h2><a href="{% url 'ticket_detail' pk=ticket.pk %}">{{ ticket.title }}</a></h2>
    <p>{{ ticket.text|truncatewords_html:5}}</p>
    <p>{{ ticket.get_ticket_status_display }}</p>
    <p>{{ ticket.get_ticket_type_display }}</p>
    <p>{{ ticket.published_date }}</p>
    <p>Comments: {{ item.comments.count }}</p>
    {% endif %}
    {% endfor %}
  </div>
  <div class="features-wrapper col-3">
    <h2>Features</h2>
    {% for ticket in tickets %}
    {% if ticket.ticket_type == 'F' %}
    <h2><a href="{% url 'ticket_detail' pk=ticket.pk %}">{{ ticket.title }}</a></h2>
    <p>{{ ticket.get_ticket_type_display }}</p>
    <p>{{ ticket.text|truncatewords_html:5}}</p>
    <p>{{ ticket.get_ticket_status_display }}</p>
    <p>{{ ticket.published_date }}</p>
    <p>Comments: {{ ticket.comments.count }}</p>
    {% endif %}
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}